.greenfield {
  background-color: green;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 800px;
  height: 200px;
}

.carotene {
  width: 80px;
  position: fixed;
  left: 100px;
  bottom: 200px;
}
